body.main {
    background-color: #e6e6bd;
}


body.game {
    margin: 0;
    padding: 0;
    background-color: #e6e6bd;
    background-image: url('images/Game\ Screen\ wood.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.add {
    
    background-color: #e6e6bd;
}

body.remove {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e6e6bd;
    cursor: pointer;
}

.start {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(181, 130, 201);
    border-radius: 10px;
    width: 20%;
    height: 50px;
    cursor: pointer;
}

.start:hover {
    transition-duration: 0.3s;
    background-color: rgb(138, 21, 168);
}

.index-middle {
    text-align: center;
}

.mainpage-middle {
    text-align: center;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: xxx-large;
}

.mainpage-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(181, 130, 201);
    cursor: pointer;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.mainpage-button:hover {
    transition-duration: 0.3s;
    background-color: rgb(138, 21, 168);
}

.exit-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(181, 130, 201);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.exit-button:hover {
    transition-duration: 0.3s;
    background-color: rgb(138, 21, 168);
}

.index-lower {
    text-align: center;
    margin: 10px;
}

.start {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
}

#game-article {
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
}

.game-article-part {
    text-align: center;
    margin: 0;
    float: left;
    width: 50%;
}

.question-answer-section {
    text-align: center;
    padding-left: 60px;
    box-sizing: border-box;
}

.game-question {
    width: 80%;
    height: 250px;
    padding-top: 1px;
    padding-left: 20px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 2rem;
    background-color: #e6e6bd;
}

.game-question-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.game-answer {
    width: 80%;
    height: 200px;
    padding-top: 1px;
    padding-left: 20px;
    margin: auto;
    border-radius: 2rem;
    background-color: #e6e6bd;
}

.game-answer-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#input-answer {
    width: 50%;
    height: 50px;
    padding: 15px;
    border-radius: 2rem;
    margin-left: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.input-answer-button {
    width: 20%;
    height: 40px;
    margin-top: 20px;
    border-radius: 2rem;
    background-color: rgb(181, 130, 201);
}

.input-answer-button:hover {
    transition-duration: 0.3s;
    background-color: rgb(138, 21, 168);
}

.game-return-button {
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(181, 130, 201);
    cursor: pointer;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 16rem;
    border-radius: 2rem;
}

.game-return-button:hover {
    transition-duration: 0.3s;
    background-color: rgb(138, 21, 168);
}
.board {
    float: left;
    width: 500px;
    height: 500px;
    margin-left: 80px;
    background-image: url('images/Board.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.square {
    float: left;
    width: 25%;
    height: 25%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.square1 {
    margin-top: 5%;
    margin-left: 5%;
    background-image: url("");
}

.square2 {
    margin-top: 5%;
    margin-left: 8%;
    background-image: url("");
}

.square3 {
    margin-top: 5%;
    margin-left: 8%;
    background-image: url("");
}

.square4 {
    margin-top: 8%;
    margin-left: 5%;
    background-image: url("");
}

.square5 {
    margin-top: 8%;
    margin-left: 8%;
    background-image: url("");
}

.square6 {
    margin-top: 8%;
    margin-left: 8%;
    background-image: url("");
}

.square7 {
    margin-top: 7%;
    margin-left: 5%;
    background-image: url("");
}

.square8 {
    margin-top: 7%;
    margin-left: 8%;
    background-image: url("");
}

.square9 {
    margin-top: 7%;
    margin-left: 8%;
    background-image: url("");
}

